.landing-page {
  background-image: url("../../../assets/images/bg-header.svg"),
    linear-gradient(to bottom, #eef9ff -10%, #ade1ff);
  background-size: contain;
  background-repeat: no-repeat;

  height: 2000px;
}
