$white: #ffffff;

$primary-yellow: #fcda55;

$primary-red: #ff677f;

$primary-pink: #de9dff;

$primary-black: #1f2a55;
$secondary-black: #777b8c;

$primary-blue: #076fec;
$secondary-blue: #71aef3;

$primary-green: #0bc29f;

$primary-yellow: #f4ad00;
