$breakpoints: (
  large: 1168px,
  small: 768px,
);

.container {
  max-width: map-get($breakpoints, "large");
  margin: auto;
}

@mixin square($side) {
  height: $side;
  width: $side;
}
@mixin circle($diameter) {
  @include square($diameter);
  border-radius: 50%;
}
