$breakpoints: (
  large: 1168px,
  small: 411px,
);

.container {
  max-width: map-get($breakpoints, "large");
  margin: auto;
}

@mixin square($side) {
  height: $side;
  width: $side;
}
@mixin circle($diameter) {
  @include square($diameter);
  border-radius: 50%;
}

@mixin hoverWithBoxShadow() {
  &:hover {
    box-shadow: 0 1px 29px 1px rgba(128, 128, 128, 0.88);
  }
}
