.promo-card {
  max-width: 210px;

  img {
    margin-bottom: 16px;
  }
  p {
    margin: 0;
  }
  .text-sub-heading-two {
    margin-bottom: 5px;
  }
  .cta {
    text-decoration: underline;
    cursor: pointer;
  }
}
