@import "../../../styles/main.scss";
.promo-card {
  max-width: 210px;

  img {
    margin-bottom: 16px;
  }
  p {
    margin: 0;
  }
  .text-sub-heading-two {
    margin-bottom: 5px;
  }
  .cta {
    text-decoration: underline;
    cursor: pointer;
  }
}

@media (max-width: map-get($breakpoints, "small")) {
  .promo-card {
    // max-width: 90%;
    margin-bottom: 30px;
    img {
      margin: auto;
    }
  }
}
